body {
    margin: 0;
}

.half-width {
    width: 40%;
}

.ultimate-padding {
    padding-left: 8%;
    padding-right: 8%;
}

.orange-color {
    color: orange;
}

.flexible-items {
    display: flex;
}

.justify {
    justify-content: space-around;
}

.top-section img {
    width: 90%;
    padding-left: 40%;
    padding-top: 3%;
}

.top-section-left-card {
    padding-top: 6%;
}

.left-border-color {
    border-left: 4px solid red;
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, red);
    padding: 15px 25px;   
    border-radius: 7px;
    font-size: 20px;
    font-weight: 600;
}

.button-section {
    padding-top: 3%;
    padding-bottom: 3%;
}

.top-section h1 {
    font-family: 'Calistoga', cursive;
    font-size: 53px;
    padding-left: 2%;
    line-height: 35%;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: justify;
}

.center-h1 {
    text-align: center;
    font-size: 40px;
}

.some-h1-tags {
    font-size: 40px;
    font-weight: 800;
    line-height: 35%;
}

.card-item img {
    width: 40%;
}

.card-item {
    border-radius: 10%;
    width: 28%;
    padding: 2%;
}

#card-1 {
    background-color: rgb(195, 241, 195);
}

#card-2 {
    background-color: rgb(247, 205, 205);
}

#card-3 {
    background-color: rgb(245, 221, 176);
}

.third-section img {
    width: 90%;
    height: 90%;
}

.third-section-class-2 {
    margin-left: 6%;
    padding-top: 7%;
}

.third-section {
    margin-top: 6%;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 3.5%;
    background-position-y: 30%;
}

.fourth-section {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 90%;
    background-position-y: 95%;
    padding-bottom: 5%;
}

.fourth-section img {
    width: 90%;
    height: 90%;
    padding-left: 40%;
    padding-top: 3%;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 10%;
}

.footer-2022 {
    color: red;
}

#footer-header-font-change {
    font-family: cursive;
}

input {
    border: 3px solid rgb(85, 78, 78);
    border-radius: 7px;
    display: block;
    padding: 5% 5%;
    margin-top: 2%;
    font-size: 1em;
}

#bigger-message-section {
    height: 80%;
}

.connect-with-me-section {
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    padding-top: 5%;
}

ul {
    margin-top: 5%;
    margin-bottom: 5%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li {
    display: inline;
    margin: 5%;
    font-size: 30px;
    font-weight: 450;
}

